<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Alumnos</ion-title>
  </ion-toolbar>
<br>

<br>
  <ion-toolbar>
    <ion-searchbar placeholder="Buscar" animated (ionChange)="buscarAlumno($event)"></ion-searchbar>
  </ion-toolbar>
  <br>
</ion-header>
  
<ion-content>

<ion-list *ngIf="permission">
  <ion-item *ngFor="let p of alumnobuscado">
    <ion-avatar slot="start">
      <img src="../../../assets/img-alumnos/{{p.image}}">
    </ion-avatar>
    <ion-label>
      <h2 >{{p.name}}</h2>
      <h3>{{p.state}}</h3>
      <p>{{p.description}}</p>
    </ion-label>
  </ion-item>
</ion-list>


<ion-label *ngIf="!permission">No tienes permiso para ver los personajes</ion-label>

<br>
<div >
  <button (click)="scan()" style="margin-left: 16px" class="button-3" role="button"  ><span class="text">Escanear alumno</span></button>
  </div>
<br>
<div >
<button (click)="onClick()" style="margin-left: 16px" class="button-4" role="button"  href="/home"><span class="text">Cerrar Sesion</span></button>
</div>
<br>

</ion-content>
